<div>
  <button class="chatbot-toggle-button" (click)="toggleChatbot()">
    {{ closed ? "Open Chatbot" : minimized ? "Open Chatbot" : "Close Chatbot" }}
  </button>
  <div
    class="chatbot-container"
    #scrollContainer
    [class.closed]="closed"
    [class.minimized]="minimized && !closed"
  >
    <h1>History</h1>
    <div *ngFor="let item of chatHistory">
      <h1>{{ item.question }}</h1>
    </div>

    <h1>Questions</h1>
    <div *ngFor="let item of chatComponent.children">
      <button (click)="sendBotResponse(item)">{{ item.question }}</button>
    </div>
  </div>
</div>
<router-outlet />
